* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  color: black;
  background: transparent;
  text-shadow: 0 2px 2px white;
}
input {
  width: 100%;
  padding: 10px 100px;
  outline: none;
  margin: 20px 0;
  text-align: center;
}
button {
  line-height: 25px;
  padding: 10px 20px;
  background: #9b59b6;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}
